<!-- footer section start -->
<footer class="xs-footer-section footer-style1" style="background-image: url({{ .Site.Params.footer_shape.url | relURL }});">
  <div class="footer-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        {{ with .Site.GetPage "site-wide/footer/main.md" }}
          <div class="footer-widget text-widget" style="height: 300px">
            <div class="footer-logo-wraper">
              <a href="{{ .Site.BaseURL }}" class="footer-logo">
              <img src="{{ .Site.Params.logo_contrast_url | relURL }}" alt="{{ .Site.Title }}">
              </a>
            </div>
            {{ .Content }}
          </div>
        {{ end }}
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <ul class="xs-list round">
            {{ range .Site.Menus.footer }}
              <li><a onclick="gtag('event', 'Click', { 'event_category': 'Nav', 'event_action':'click_{{ .Name }}','event_label':'{{ .Name }}' });" href="{{ .URL }}">{{ .Name | humanize }}</a></li>
            {{ end }}
          </ul>
          <!-- .xs-list END -->
        </div>
        <!-- .footer-widget END -->
      </div>
      {{ with .Site.GetPage "site-wide/footer/aside.md" }}
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            {{ .Content }}
            <p><a onclick="gtag('event', 'Click', { 'event_category': 'C2A', 'event_action':'click_contact','event_label':'contact4' });" href="{{ .Params.email.url }}">{{ .Params.email.title }}</a></p>
          </div>
          <!-- .footer-widget END -->
        </div>
      {{ end }}
    </div>
  </div>
  <!-- .footer-top-area END -->
  {{ with .Site.GetPage "site-wide/footer/small.md" }}
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-section">
              {{ .Content }}
            </div>
            <!-- .copyright-section END -->
          </div>
          <div class="col-md-6">
            <ul class="simple-social-list">
              <li><a target="_blank" href="{{ .Params.social.linkedin.url }}"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer-bottom-area END -->
  {{ end }}
</footer>