<div class="header-transparent header-tranparent-style3 nav-sticky">
  <!-- header section -->
  <header class="xs-header header-yellow header-style3">
    <div class="container">
      <nav class="xs-menus clearfix">
        <div class="nav-header">
          <a class="nav-brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo_url | relURL }}" alt="{{ .Site.Title }}"></a>
          <div class="nav-toggle"></div>
        </div>
        <div class="nav-menus-wrapper align-to-right">
          <ul class="nav-menu">
            {{ range .Site.Menus.main }}
              <li><a onclick="gtag('event', 'Click', { 'event_category': 'Nav', 'event_action':'click_{{ .Name }}','event_label':'{{ .Name }}' });" href="{{ .URL }}">{{ .Name | upper }}</a></li>
            {{ end }}
          </ul>
          <ul class="header-btn">
            <li><a onclick="gtag('event', 'Click', { 'event_category': 'C2A', 'event_action':'click_contact','event_label':'main_nav' });" class="btn btn-gradient5" href="{{ .Site.Params.header.cta.url }}">{{ .Site.Params.header.cta.title | upper }}</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- .container END -->
  </header>
  <!-- End header section -->
</div>
