<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172524556-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-172524556-1');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ .Title }}</title>
  <meta name="description" content="The platform that insures the digital economy. Riskwolf’s vision is to make digital enterprises more resilient. We help visionary re-insurers globally to create protection for digital risks that are underserved by traditional insurance.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRoboto:400,500,700,900%7CPlayfair+Display:400,700,700i,900,900i%7CWork+Sans:400,500,600,700" rel="stylesheet">
  <!-- signatra-font -->
  <link rel="stylesheet" href="{{ "/assets/css/signatra-font.css" | relURL }}|">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="{{ "assets/css/font-awesome.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/animate.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/iconfont.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/magnific-popup.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/owl.carousel.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/owl.theme.default.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/swiper.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/rev-settings.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/responsive-video.css" | relURL}}">
  <!-- Styles by coderman -->
  <link rel="stylesheet" href="{{ "assets/css/buttons.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/hero-banner.css" | relURL}}">
  <!-- Styles by coderman ./end -->

  <!--For Plugins external css-->
  <link rel="stylesheet" href="{{ "assets/css/plugins.css" | relURL }}">
  <!--Theme custom css -->
  <link rel="stylesheet" href="{{ "assets/css/style.css" | relURL }}">
  <!--Theme Responsive css-->
  <link rel="stylesheet" href="{{ "assets/css/responsive.css" | relURL }}">

  <!--Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "assets/favicon/apple-icon-57x57.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "assets/favicon/apple-icon-60x60.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "assets/favicon/apple-icon-72x72.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "assets/favicon/apple-icon-76x76.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "assets/favicon/apple-icon-114x114.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "assets/favicon/apple-icon-120x120.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "assets/favicon/apple-icon-144x144.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "assets/favicon/apple-icon-152x152.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/favicon/apple-icon-180x180.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "assets/favicon/android-icon-192x192.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "assets/favicon/favicon-96x96.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/favicon/favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "assets/favicon/manifest.json" | relURL }}">
  <meta name="msapplication-TileColor" content="#ffe500">
  <meta name="msapplication-TileImage" content="{{ "assets/favicon/ms-icon-144x144.png" | relURL }}">
  <meta name="theme-color" content="#ffe500">

  <!-- Make site shareable on LinkedIn -->
  {{ if .Params.social_title }}
  <meta property='og:title' content='{{ .Params.social_title }}'/>
  {{ else }}
  <meta property='og:title' content='{{ .Title }}'/>
  {{ end }}
  {{ if .Params.social_image }}
  <meta property="og:image" content="{{ .Params.social_image | absURL }}"/>
  <meta property="og:image:secure" content="{{ .Params.social_image | absURL }}"/>
  {{ else }}
  <meta property="og:image" content="{{ .Site.Params.social_image | absURL }}"/>
  <meta property="og:image:secure" content="{{ .Site.Params.social_image | absURL }}"/>
  {{ end }}
  {{ if.Content }}
  <meta property='og:description' content='{{ .Content | plainify | truncate 300 }}'/>
  {{ else }}
  {{ with .Site.GetPage "site-wide/footer/main.md" }}
  <meta property='og:description' content='Riskwolf - {{ .Content | plainify }}'/>
  {{ end }}
  {{ end }}
  <meta property='og:url' content='{{ .Permalink }}'/>

  <!-- Layout fixes -->
  <style>
    .agency-banner-content--primary h2 {
      font-size: 3rem;
      margin-bottom: 1em;
    }

    .agency-banner-content--primary p {
      font-size: 1.6rem;
    }

    .agency-section-title--primary h1,
    .agency-section-title--primary h2,
    .agency-section-title--primary h3,
    .agency-service-block--primary h1,
    .agency-service-block--primary h2,
    .agency-service-block--primary h3 {
      color: #000;
    }

    .copy-md {
      font-size: 1.6rem;
    }

    .copy-md-1 {
      font-size: 1.25rem;
    }

    .copy-reset p {
      font-size: inherit !important;
    }

    .copy-sm {
      font-size: 1.3rem;
    }

    .copy-sm p {
      font-size: inherit;
    }

    .box-job-listing {
      padding-top: 4rem ;
    }

    @media (min-width: 768px) {
      .box-job-listing {
        padding-top: 10rem;
      }
    }

    .wysiwyg ul li {
      position: relative;
    }

    .wysiwyg ul li::before {
      content: "";
      display: block;
      float: left;
      background-color: #ddd;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-top: 7px;
      margin-right: 10px;
    }

    .wysiwyg p,
    .wysiwyg ol,
    .wysiwyg blockquote,
    .wysiwyg ul {
      margin-bottom: 2rem;
    }

  </style>

</head>
