{{ define "main" }}
  {{ $apply := .Params.link.title }}
  <div class="xs-section-padding-bottom">
    <!-- agency banner section -->
    <section class="xs-banner agency-banner3" data-scrollax-parent="true">
      <div class="agency-banner-content-group">
        <div class="container">
          <div class="agency-banner-content agency-banner-content--primary banner-style3">
            {{ .Content }}
            <!-- .agency-banner-img END -->
          </div>
          <!-- .row END -->
        </div>
        <!-- .container END -->
      </div>
      <div class="banner-overlay-bg">
        <img src="{{ .Site.Params.banner_shape.url | relURL }}" alt="" class="banner-image1">
      </div>
      <div class="curve-shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="shape-svg" d="M1000,4.3V0H0v4.3C0.9,23.1,126.7,99.2,500,100S1000,22.7,1000,4.3z"></path>
        </svg>
      </div>
    </section>
    <!-- end agency banner section -->

    <section class="section-padding-medium">
      <div class="container">
        {{ with .Site.GetPage "job/grid/content" }}
          <!-- .row END -->
          <div class="row agency-service-wraper">
            {{ range .Pages }}
              <div class="col-md-4">
                <div class="agency-service-block agency-service-block--primary text-center">
                  <i class="icon icon-{{ .Params.icon }}"></i>
                  <div class="copy-reset copy-md">
                    {{ .Content }}
                  </div>
                </div>
                <!-- .agency-service-block END -->
              </div>
            {{ end }}
          </div>
        {{ end }}
        <div class="row box-job-listing">
          <div class="col-md-9 mx-auto">
             <div class="agency-section-title text-center style3">
                <h2 class="main-title medium">{{ .Params.list_title | markdownify }}</h2>
             </div>
          </div>
        </div>

        {{ range .Pages }}
          <div class="row padding-medium">
            <div class="col-md-9 mx-auto">
              <hr>
              <div class="agency-section-title style3">
                <h2 class="main-title medium">{{ .Title }}</h2>
                <h4>{{ .Params.subtitle }}</h4>
              </div>
              <div class="text-right">
                <a href="{{ .Permalink }}" class=""><strong>{{ $apply }}</strong> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <!-- .row END -->

    </section>
  </div>
{{ end }}