{{ define "main" }}
  <div class="xs-section-padding-bottom">
    <section class="section-padding-medium" style="margin-top: 4em">
      <div class="container">
        <div class="row padding-medium">
          <div class="col-md-9 mx-auto">
            <div class="agency-section-title style3 pt-4">
              <h2 class="main-title medium" >{{ .Title }}</h2>
              <h4>{{ .Params.subtitle }}</h4>
              <div class="wysiwyg copy-reset copy-sm mb-5">
                {{ .Content}}
              </div>
              <div class="text-center">
                <a href="{{ .Parent.Permalink }}" class=""><i class="fa fa-arrow-circle-left mr-3" aria-hidden="true"></i><strong>Back to jobs</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .row END -->
      <!-- contact section -->
      {{ with .Site.GetPage "job/contact/index.md" }}
        <section class="contact-section-area xs-section-padding-top"  id="contact" style="margin-top: 0; padding-top: 0;" data-scrollax-parent="true" id="contact">
          <!-- contact start -->
          <div class="xs-section-padding-top">
            <div class="container">
              <div class="row">
                <!-- make it central -->
                <div class="col-md-12">
                  <div class="contact-box-wraper" >
                    <h2 class="join-us-title" style="font-weight: normal;">{{ .Title }}</h2>
                    <hr />
                    {{ .Content }}
                    &nbsp;
                    <div class="pipedriveWebForms contact-form input-material" data-pd-webforms="{{ .Params.form.url }}">
                      <script src="{{ .Params.form.script.src }}"></script>
                    </div>
                    <p style="text-align: center"><a href="{{ .Params.terms.url }}">{{ .Params.terms.title }}</a></p>
                  </div>
                  <!-- .contact-box-wraper END -->
                </div>
              </div>
              <!-- .row END -->
            </div>
          </div>
          <!-- contact END -->
        </section>
      {{ end }}
      <!-- contact section END -->
    </section>
  </div>
{{ end }}