<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{- partial "header.html" . -}}
    <main class="main-content-wraper">
      {{ block "main" . }}

      {{end }}
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "foot.html" . -}}
  </body>
</html>
