{{ define "main" }}
  <section class="xs-banner" data-scrollax-parent="true">
    <div class="agency-banner-content-group">
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="agency-banner-content" style="margin-top: 15em; margin-bottom: 15em">
              <h4 class="banner-title">{{ .Params.title_page }}</h4>
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}