.button {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none !important;
  display: inline-block;
  padding: 0.6em 1.8em;
  border-radius: 6px;
}

.button--primary {
  color:  #000 !important;
  background-color: #ffe500;
}

.button--primary:hover {
  background-color: #000000;
  color:  #fff !important;
}
