.hero {
  min-height: 700px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 0 100px;
  height: 100vh;
}

.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__bg::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  content: '';
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content > *:last-child {
  margin-bottom: 0;
}

.hero__content {
  margin-bottom: 36px;
}

.hero__body h1,
.hero__body h2,
.hero__body h3,
.hero__body h4,
.hero__body h5,
.hero__body h6 {
  color: inherit;
}
