{{ define "main" }}
  <div class="xs-section-padding-bottom">
    <!-- Hero -->
    <section class="hero">
      {{ with .Site.GetPage "homepage/banner/index.md" }}
        <div class="hero__bg">
          {{ $bannerFeatured := .Resources.Match "Featured" }}
          {{ range $bannerFeatured }}
            <img src="{{ .Permalink }}" class="hero__img" alt="{{ .Title }}" />
          {{ end }}
        </div>

        <div class="hero__body">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="hero__content">
                  {{ .Content }}
                </div>
                <a onclick="gtag('event', 'Click', { 'event_category': 'C2A', 'event_action':'click_platform','event_label':'learn_more' });" href="{{ .Params.cta.url }}" class="button button--primary">{{ .Params.cta.title }}</a>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </section>
    <!-- Hero ./end-->

    <!-- agency client slider area section -->
    {{ with .Site.GetPage "homepage/banner/index.md" }}
      <div class="agency_client_slider">
        <div class="container">
          <div class="client-slider owl-carousel">
            {{ $bannerLogos := .Resources.Match "Slider" }}
            {{ range $bannerLogos }}
              <div class="item">
                <img src="{{ .Permalink }}" alt="{{ .Title }}">
              </div>
            {{ end }}
          </div>
          <!-- .client-slider end -->
        </div>
        <!-- .container END -->
      </div>
    {{ end }}
    <!-- agency client slider area section end -->

    <!-- call to action section -->
    {{ with .Site.GetPage "homepage/image-text/index.md" }}
      <section class="calltoaction-section-3" id="platform">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center" >
              <div class="call-to-action-content-3">
                <h2 class="call-to-action-title">{{ .Title }}</h2>
              </div>
            </div>
          </div>
          <!-- .row END -->
          <div class="row">
            <div class="col-md-5">
              {{ range (.Resources.Match "Featured") }}
              <div class="layer"><img src="{{ .Permalink }}" alt="{{ .Title }}"></div>
              {{ end }}
            </div>
            <div class="col-md-7" style="color:#fff">
              {{ .Content }}
            </div>
          </div>
          <!-- .row END -->
        </div>
        <!-- .container END -->
      </section>
    {{ end }}
    <!-- call to action section end -->
      <section class="section-padding-medium">
        <div class="container">
          {{ with .Site.GetPage "homepage/grid-image-text-icons/_index.md" }}
            <div class="row">
              <div class="col-md-9 mx-auto">
                <div class="agency-section-title text-center style3">
                  <h2 class="main-title medium">{{ .Title | markdownify }}</h2>
                </div>
              </div>
            </div>
            <div class="row" style="padding-bottom: 2em">
              <div class="col-md-12">
                <div class="business-care-img">
                  {{ range (.Resources.Match "Featured") }}
                    <img style="width:90%" src="{{ .Permalink }}" alt="{{ .Title }}" draggable="false">
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="agency-section-title text-center style5">
                  <div class="copy-reset copy-md-1">
                    {{ .Content }}
                  </div>
                </div>
                <!-- .agency-section-title .style3 END -->
              </div>
            </div>
            <!-- .row END -->
            <div class="row agency-service-wraper">
              {{ range .Pages }}
                <div class="col-md-4">
                  <div class="agency-service-block agency-service-block--primary text-center">
                    <i class="icon icon-{{ .Params.icon }}"></i>
                    <div class="copy-reset copy-md">
                      {{ .Content }}
                    </div>
                  </div>
                  <!-- .agency-service-block END -->
                </div>
              {{ end }}
            </div>
          {{ end }}

          {{ with .Site.GetPage "homepage/grid-image-text-icons/block/index.md" }}
            <!-- .row .agency-service-wraper END -->
            <div class="row">
              <div class="col-md-12">
                <div class="join-us-content text-center">
                  <h2 class="join-us-title">{{ .Params.content | markdownify }}</h2>
                  <a onclick="gtag('event', 'Click', { 'event_category': 'C2A', 'event_action':'click_contact','event_label':'platform' });" href="{{ .Params.cta.url }}" class="btn btn-primary style5 square icon-right"><i class="icon icon-right-arrow"></i>{{ .Params.cta.title }}</a>
                </div>
                <!-- .join-us-content END -->
              </div>
            </div>
          {{ end }}
        </div>
        <!-- .row END -->
      </section>
  </div>

  <!-- agency company intro section -->
  {{ with .Site.GetPage "homepage/list-article-video/_index.md" }}
    <section class="xs-section-padding"  id="use-cases">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="agency-section-title text-center style3" style="padding-top:2em">
              <h2 class="main-title medium">{{ .Title | markdownify }}</h2>
            </div>
            <!-- .agency-section-title .style3 END -->
          </div>
        </div>
        <!-- .row END -->
        {{ range .Pages}}
          <div class="row">
            <div class="col-lg-6">
              <div class="agency-intro">
                <div class="agency-section-title">
                  <h3 class="sub-title">{{ .Params.location | upper }}</h3>
                  <h4 class="main-title">{{ .Title }}</h4>
                </div>
                {{ .Content }}
                <!-- .agency-section-title END -->
              </div>
              <!-- .agency-intro END -->
            </div>
            <div class="col-lg-6">
              <div class="responsive-video">
                <iframe src="{{ .Params.video }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen"  webkitAllowFullScreen
                  mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
          </div>
        {{ end }}
        <!-- .row END -->
        {{ with .Site.GetPage "homepage/list-article-video/block/index.md" }}
          <div class="row">
            <div class="col-md-12" style="margin-top: 3em">
              <div class="join-us-content text-center">
                <h2 class="join-us-title">{{ .Params.content | markdownify }}</h2>
                <a onclick="gtag('event', 'Click', { 'event_category': 'C2A', 'event_action':'click_contact','event_label':'use_cases' });" href="{{ .Params.cta.url }}" class="btn btn-primary style5 square icon-right"><i class="icon icon-right-arrow"></i> {{ .Params.cta.title }}</a>
              </div>
              <!-- .join-us-content END -->
            </div>
          </div>
        {{ end }}
      </div>
      <!-- .container END -->
    </section>
  <!-- end agency company intro section -->
  {{ end }}

  <!-- agency team section -->
  {{ with .Site.GetPage "homepage/list-leadership-team/_index.md" }}
    <section class="team-section-area xs-section-padding-top" id="team" data-scrollax-parent="true" >
      <div class="container" >
        <div class="row">
          <div class="col-md-9 mx-auto">
            <div class="agency-section-title agency-section-title--primary text-center style5" style="padding-top: 2em">
              <div class="copy-reset copy-md">
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom: 2em">
          <div class="col-md-12">
            <div class="business-care-img">
              {{ range (.Resources.Match "Featured") }}
                <img style="width:100%" src="{{ .Permalink }}" alt="{{ .Title }}">
              {{ end }}
            </div>
          </div>
        </div>
        <div class="row xs-mb-9">
          {{ range .Pages }}
            <div class="col-lg-3 col-md-6">
              <div class="single-team-style3">
                <div class="team-content">
                  {{ .Content }}
                  <ul class="social-list version-4 square">
                    <li><a target="_blank" href="{{ .Params.social.linkedin.url }}" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <!-- .single-team-style2 END -->
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  <!-- agency team section end -->
  <!-- contact section -->
  {{ with .Site.GetPage "homepage/contact/index.md" }}
    <section class="contact-section-area xs-section-padding-top"  id="contact" style="margin-top: 0; padding-top: 0;" data-scrollax-parent="true" id="contact">
      <!-- contact start -->
      <div class="xs-section-padding-top">
        <div class="container">
          <div class="row">
            <!-- make it central -->
            <div class="col-md-12">
              <div class="contact-box-wraper" >
                <h2 class="join-us-title" style="font-weight: normal;">{{ .Title }}</h2>
                <hr />
                {{ .Content }}
                <div class="pipedriveWebForms contact-form input-material" data-pd-webforms="{{ .Params.form.url }}">
                  <script src="{{ .Params.form.script.src }}"></script>
                </div>
                <p style="text-align: center"><a href="{{ .Params.terms.url }}">{{ .Params.terms.title }}</a></p>
              </div>
              <!-- .contact-box-wraper END -->
            </div>
          </div>
          <!-- .row END -->
        </div>
      </div>
      <!-- contact END -->
    </section>
  {{ end }}
  <!-- contact section END -->
{{ end }}
